# Binary downloads
*/steamaudio_*.*.*.zip

# Generated CMake solutions
*/build/windows-vs****-*
*/build/osx

# Build results
fmod/lib

unreal/src/SteamAudioUnreal/Plugins/SteamAudio/Source/SteamAudioSDK/lib
unreal/src/SteamAudioUnreal/Plugins/FMODStudio/Binaries

unity/lib

unity/src/project/SteamAudioUnity/Assets/Plugins/FMOD/platforms/mac/lib/*.bundle
unity/src/project/SteamAudioUnity/Assets/Plugins/FMOD/platforms/win/lib/**/*.dll
unity/src/project/SteamAudioUnity/Assets/Plugins/SteamAudio/Binaries/**/*.so
unity/src/project/SteamAudioUnity/Assets/Plugins/SteamAudio/Binaries/**/*.dll
unity/src/project/SteamAudioUnity/Assets/Plugins/SteamAudio/Binaries/**/*.bundle

# core deps/build
/core/deps
/core/deps-build
/core/cmake_msbuild_*.txt
/core/bin
/core/dist
